/* src/assets/styles/base.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    /* background: #f8fafc; */
    /* background-color: #04457c; */
    background-image: url('../images/background.png');
    color: #1e293b;
    line-height: 1.6;
}

/* Toàn bộ trang: 1000px, căn giữa */
.page-wrapper {
    max-width: 1000px;
    margin: 25px auto;
    background: white;
    min-height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    padding: 1.5rem;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

.text-center {
    text-align: center;
}

.error {
    color: #ef4444;
    text-align: center;
    margin: 1rem 0;
    font-size: 0.95rem;
}